.header {
  font-family: 'Fascinate Inline', cursive;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 50px 1fr;
  background-color: sandybrown;
  grid-template-areas: "imagen       navegador       navegador "
 "imagen       titulo       titulo   "; }
  .header__imagen {
    margin: auto;
    grid-area: imagen;
    height: 80%;
    width: 70%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black; }
  .header__menu {
    width: 40vw;
    grid-area: navegador; }
  .header__div {
    margin-top: 1rem;
    margin-left: 4rem;
    grid-area: titulo; }

header h1 {
  font-size: 5rem; }

.header nav img {
  display: none; }

.navbar {
  display: grid;
  grid-area: navegador;
  justify-content: right; }

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: right; }

.productos, .main__productos--img img {
  border-radius: 10px;
  box-shadow: 10px; }

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: beige; }
  .main__titlle {
    display: flex;
    justify-content: center;
    font-size: 5rem; }

.section {
  justify-content: center; }
  .section div {
    justify-content: center;
    margin: 1rem; }
    .section div div {
      width: 18rem;
      height: 20rem;
      background-color: peru;
      border-radius: 10px;
      transition: 0.5s;
      text-align: center;
      overflow: auto; }
      .section div div a {
        text-decoration: none; }

.section div:hover {
  transform: scale(1.1); }

.section > a > img {
  margin-top: 0.5rem;
  margin: 2rem;
  border-radius: 10px; }

main section div a {
  text-decoration: none; }

.section2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 2rem; }
  .section2 a {
    text-decoration: none; }
  .section2 img {
    border-radius: 10px; }

.main__productos {
  display: grid;
  grid-template-rows: 0,5fgr 1fr 0,5fr;
  justify-items: center; }

main video {
  background-color: black;
  margin-bottom: 2rem; }

main h2 {
  font-size: 3rem;
  margin-top: 4rem; }

.main__div-cartas {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem; }
  .main__div-cartas div {
    background-color: burlywood;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center; }
    .main__div-cartas div p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 5vw;
      background-color: khaki;
      width: 15vw;
      height: 6vw;
      text-align: center;
      border-radius: 10px;
      margin: 2vw auto; }

.main__nosotros {
  font-size: 1.2rem;
  display: grid;
  justify-content: center; }
  .main__nosotros p {
    width: 40vw;
    margin: 0 auto;
    margin-top: 2rem; }

.main__formulario {
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 3rem; }

.footer {
  color: brown;
  font-family: 'Domine', serif;
  height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .footer__div {
    font-size: 3rem;
    background-color: sandybrown;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .footer__div--iconos {
      display: flex; }
      .footer__div--iconos a {
        color: sandybrown;
        text-decoration: none; }

.footer__divnews {
  background-color: beige;
  width: 100%;
  text-align: center; }

.footer__div div a img {
  border-radius: 15px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none; }

body {
  font-family: 'Pacifico', cursive;
  background-color: beige; }

h3 {
  margin: 0.5rem;
  background-color: #f1cd9e;
  color: black;
  border-radius: 10px;
  text-align: center; }

.mapa {
  margin-right: 2rem;
  margin: 1rem; }

.cuadrocliente {
  width: 40vw; }

@media screen and (max-width: 1000px) {
  .main__nosotros {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    text-align: center; }
  .main__nosotros p {
    width: 100%;
    height: 100%;
    font-size: 3vw; }

   }

@media screen and (max-width: 950px) {
  .section {
    display: grid;
    grid-template-columns: 1fr; }
  .main {
    width: 100%;
    height: 100%; }
  .main__titlle{
    font-size: 8vw;
  }
  .section > a {
    margin: 1rem; } }

    @media screen and (max-width:767px) {
      .header__titlle{
        font-size: 9.5vw;
      }
      .main__div-cartas div{
        height: 280px;
      }

    }

@media screen and (max-width: 715px) {
  .main {
    width: 100%;
    height: 100%; }
  .main__div-cartas {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .section {
    display: grid;
    grid-template-columns: 1fr; }
  .main__titlle {
    font-size: 8vw; }
  .header__titlle {
    font-size: 9vw; }
  .nav-link {
    font-size: 2.5vw; }
  .header__subtitlle {
    font-size: 3vw; }
  .section2 {
    font-size: 3vw; }
  .footer__div {
    font-size: 3vw; }
  .footer__divnews {
    font-size: 3vw; }
  .main__nosotros p {
    width: 100%;
    height: 100%;
    font-size: 4vw; }
  .main__formulario {
    display: grid;
    grid-template-columns: 1fr; } }

@media screen and (max-width: 600px) {
  main video {
    width: auto; }
  .header__div{
    margin-left: 2rem;
  }
  .header__titlle {
    font-size: 8.5vw; }
  .nav-link {
    font-size: 2.5vw; } }

@media screen and (max-width: 445px) {
  header {
    height: 150px; }
  .header__imagen {
      grid-area: imagen;
      height: 60%;
      width: 70%;
      }
  .main__formulario {
    margin-top: 1.5rem;
    height: 240vw; }
  .main__nosotros {
    height: 120vw; }
  .header__titlle {
    font-size: 7.5vw; }
  .main__titlle {
    font-size: 8vw; }
  .footer__divnews {
    display: none; }
  .main__productos {
    height: 580vw; }
  .main__productos h2 {
    font-size: 10vw; }
  .main__div-cartas {
    display: grid;
    grid-template-columns: 1fr; }
    .main__div-cartas div{
      height: 250px;
    }
  .main__nosotros p {
    width: 100%;
    height: 100%;
    font-size: 5vw; }
  .footer {
    margin-top: 1rem; }
  .mapa {
    width: 200px;
    height: 150px; }
  .mapa__contacto {
    margin: 1rem;
    margin-left: 0; }
  .nav-link {
    font-size: 2.5vw; } }

@media screen and (max-width: 380px) {
  .main__productos {
    height: 700vw; }
  .main__formulario {
    font-size: 1rem;
    height: 280vw; }
  
   }
