*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    font-family: 'Pacifico', cursive;
    background-color: beige;
    
}

h3{
    
    margin: 0.5rem;
    background-color: rgb(241, 205, 158);
    color: black;
   border-radius: 10px;
    text-align: center;
}



.mapa{
    margin-right: 2rem;
    margin: 1rem;
}

.cuadrocliente{
    width: 40vw;
}