$colores:(
    cabeza:sandybrown,
    cuerpo: beige,
    pie:rgb(253, 191, 168),
    textoprincipal: black,
    textosecundario: brown,
);
.productos{
    border-radius: 10px;
    box-shadow: 10px;
}

@mixin precios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 5vw;
    background-color: khaki;
    width: 15vw;
    height: 6vw;
    text-align: center;
    border-radius: 10px;
    margin: 2vw auto;
}

.main{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: map-get($map: $colores, $key:cuerpo );
    &__titlle{
        display: flex;
        justify-content: center;
        font-size: 5rem;
    }
}


.section {
    justify-content: center;
    div{
        justify-content: center;
        margin: 1rem;
        div {
            width: 18rem;
            height: 20rem;
        
               background-color: peru;
               border-radius: 10px;
               transition: 0.5s;
               text-align: center;
               overflow: auto;
               a{
                text-decoration: none;

               }
        
        }

    }
}


.section div:hover{
    transform: scale(1.1);
}

.section>a>img{
    margin-top: 0.5rem;
    margin: 2rem;
    border-radius: 10px;
}

main section div a{
    text-decoration: none;
}

.section2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    a{
        text-decoration: none;
    }
    img{
        border-radius: 10px;
    }
   
}

.main__productos{
    display: grid;
    grid-template-rows: 0,5fgr 1fr 0,5fr;
    justify-items: center;
}

main video{
    background-color: black;
    margin-bottom: 2rem;
}

main h2{
    font-size: 3rem;
    margin-top: 4rem;
}

.main__div-cartas{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    div{
        background-color: burlywood;
        width: 200px;
        height: 300px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        p{
            @include precios
         }

    }

}

.main__productos--img img{
    @extend .productos;
}



.main__nosotros{
    font-size: 1.2rem;
    display: grid;
    justify-content: center;
    p{
        width: 40vw;
        margin: 0 auto;
        margin-top: 2rem;
        
    }
}

.main__formulario{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-left: 2rem;
}

