@media screen and (max-width: 1000px) {

    .main__nosotros{
        height: 100%;
        display: grid;
        grid-template-rows: 1fr;
        text-align: center;
    }
    
    .main__nosotros p{
        width: 100%;
        height: 100%;
        font-size: 3vw;
    }


    
}

@media screen and (max-width: 950px) {
    
.section{ display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.main{
    width: 100%;
    height: 100%;
    }

.section> a{
    margin: 1rem;
}
}


@media screen and (max-width: 715px) {

    .main{
        width: 100%;
        height: 100%;
    }

    .main__div-cartas{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .section{
        display: grid;
        grid-template-columns: 1fr;
    }

    .main__titlle{
        font-size: 5vw;
    }

    .header__titlle{
        font-size: 9vw;
    }

    .nav-link{
        font-size: 2.5vw;
    }

    .header__subtitlle{
        font-size: 3vw;
    }



    .section2{
        font-size: 3vw;
    }

    .footer__div{
        font-size: 3vw;
    }
   
    .footer__divnews{
        font-size: 3vw;
    }

    .main__nosotros p{
        width: 100%;
        height: 100%;
        font-size: 4vw;
    }

    .main__formulario{
        display: grid;
        grid-template-columns: 1fr;
    }


      
}

@media screen and (max-width: 600px) {
    main video{
        width: auto;
    }
    .header__titlle{
        font-size: 8.5vw;
    }
 .nav-link{
    font-size: 3vw;
 }


}

@media screen and (max-width: 445px) {

    header{
        height: 120px;

        
    }

    .main__formulario{
        margin-top: 2rem;
        height: 240vw;
    
    }

   
    .main__nosotros{
        height: 120vw;
    }

    .header__titlle{
        font-size: 7.5vw;
    }
    
    .main__titlle{
        font-size: 10vw;
 
    }

    .footer__divnews{
        display: none;
    }
    
    .main__productos{
        height: 500vw;
    }
    .main__productos h2{
        font-size: 10vw;
    }

    .main__div-cartas{
        display: grid;
        grid-template-columns: 1fr;
    }

    .main__nosotros p{
        width: 100%;
        height:100%;
        font-size: 5vw;
    }

 

    .footer{
        margin-top: 1rem;
    }

    .mapa{
        width: 200px;
        height: 150px;
    }

    .mapa__contacto{
        margin: 1rem;
        margin-left: 0;
    }

    .nav-link{
        font-size: 5vw;
    }
    
    }

    @media screen and (max-width: 380px) {
        .main__productos{
            height: 600vw;
        }
        
        .main__formulario{
            height: 280vw;
        }
    }


